<!-- <h1>Single Event Viewer</h1> -->
<!-- {{event}} -->
<link rel="stylesheet" href="/stylesheets/events-single.css">
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="main" class="event-main" data-url="http://wallpapercave.com/wp/17XP3In.jpg">
			<!-- <div class="event-main" style="background-image: url(http://wallpapercave.com/wp/17XP3In.jpg)"> -->
				<h2>{{event.name}}</h2><br><br><br>
				<div class="row">
					<div class="col-sm-4" id="events-single-header-sub-left">
						<p>{{event.start}} - {{event.end}}</p>
					</div>
					<div class="col-sm-4" id="events-single-header-sub-center">
						<p>{{event.dayName}} | {{event.monthName}} {{event.day}}, {{event.year}}</p>
					</div>
					<div class="col-sm-4" id="events-single-header-sub-right">
						<p>{{event.location}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<p style="text-align: center;">{{event.description}}</p>
	</div>
	<hr/>
	<div class="row attending">
		<div style="text-align: center;" class="col-sm-1">
			<p><span id="numAttending">{{event.attending.length}}</span></p>
		</div>
		<div class="col-sm-11">
			<ul id="attendingUsers" class="list-unstyled">
				{{#each userMap}}
					<li><a href="#">{{firstName}} {{lastName}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
	<hr/>
	<div class="row">
		<button data-slug={{event.slug}} id="joinEvent" type="button" class="joinEvent btn btn-s btn-primary btn-block">Join Event</button><hr/>
	</div>
	<div class="row">
		<a href="/events">Back to Events List</a>
	</div>
</div>
<!-- 
<h2>{{event.month}}/{{event.day}} | {{event.name}} | <span id="numAttending">{{event.attending.length}}</span> attending</h2>
<p>Time: {{event.start}} - {{event.end}}</p>
<p>Address: {{event.location}}</p>
<p>Description: {{event.description}}</p>
<img src={{event.imageUrl}}>
<br>
<button data-slug={{event.slug}} id="joinEvent" type="button" class="joinEvent">Join Event</button>
<br><br>
Attendees
<ul id="attendingUsers">
{{#each userMap}}
	<li>{{firstName}} {{lastName}}</li>
{{/each}}
</ul>
 -->
<script type="text/javascript">
	var url = document.getElementById('main').getAttribute('data-url');
	var styleRule = "background-image: url('"+url+"')";
	var newStyle = document.createElement('style');
	newStyle.type = "text/css";
	newStyle.innerHtml = ".event-main:before {" + styleRule +";}"
	document.getElementsByTagName('head')[0].appendChild(newStyle);
	// document.styleSheets[0].addRule('.event-main::before', styleRule);
	// document.styleSheets[0].insertRule('.red::before { color: green }', 0);
	// document.getElementById("main").style.backgroundImage = bgImg;
</script>
<script src="/javascripts/event-join.js"></script>

