<h1>Single Event Viewer</h1>
{{event}}
<h2>{{event.month}}/{{event.day}} | {{event.name}} | <span id="numAttending">{{event.attending.length}}</span> attending</h2>
<p>Time: {{event.start}} - {{event.end}}</p>
<p>Address: {{event.location}}</p>
<p>Description: {{event.description}}</p>
<img src={{event.imageUrl}}>
<br>
<button data-slug={{event.slug}} id="joinEvent" type="button" class="joinEvent">Join Event</button>
<br><br>
Attendees
<ul id="attendingUsers">
{{#each userMap}}
	<li>{{firstName}} {{lastName}}</li>
{{/each}}
</ul>

<a href="/events">Back to Events List</a>
<script src="/javascripts/event-join.js"></script>

