<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Below is the User object</h2>
<p>{{User}}</p>
<h2>Below is an Event object</h2>
<p>{{Event}}</p> -->
<h1>LOGIN</h1>
<form method="POST" action="/login">
	Username: <input type="text" name="username" placeholder="username" required><br>
	Password: <input type="password" name="password" placeholder="password" required><br>
	<input type="submit" value="Login">
</form>
<a href="/register">Create a new account</a>
<p style="color:red;">{{message}}</p>

<a href="/login/facebook">Login With Facebook</a>

<br><br>
<form id="testForm" method="POST" action="">
	Irrelevant Form Data for Milestone#2: <input id="testText" type="text" placeholder="Enter au4toijzdfk stuff here">
	<input id="submit" type="submit" value="Submit">
</form>
<div id="testData"></div>
<script src="javascripts/script.js"></script>